<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-fixed-top">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href>Select Page<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#/page1">page1</a>
                    </li>
                    <li>
                        <a href="#/page2">page2</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>